name: Build branch
on:
  push:
    branches-ignore:
      - main
  pull_request:
    branches-ignore:
      - main

jobs:
  build_branch:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout sources
      uses: actions/checkout@v4.2.1

    - name: Setup Java
      uses: actions/setup-java@v4.4.0
      with:
        distribution: 'temurin'
        java-version: 22

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4.1.0

    - name: Build
      run: ./gradlew build
